.roboto-thin {
    font-family: "Roboto", sans-serif;
}

.banner {
    background-image: url(/image/Group\ 3087.png);
    padding: 60px;
}

.card1:hover {
    color: white;
    background-color: #5A58E7;
}

.box:hover {
    box-shadow: 10px 10px lightblue;
}
.tanvir{
    box-shadow: 10px 5px 5px 5px #BFA9FF;
}
